## LaTeX auxiliary files
*.aux
*.log
*.toc
*.out
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz

## Editor / OS
.vscode/
Thumbs.db
desktop.ini

## Built documents
*.pdf
code/thrash/*
## Misc
*.gz
*.zip
lab3.tex